<%= render 'home/nav2' %>


<div class="certified-contractors-background">
  <img src="/assets/certcontr.png" alt="" height="550px" width="550px"/>
</div>

<div class="certified-contractors-container">

Certified Contractors

  <div class="certified-contractors">
    <p>

Eagle's philosophy is that the best projects result from the integration and teamwork between owner, designer, construction manager \ general contractor, trade contractors and suppliers, all of whom become aligned with the key project objectives.
<br><br>
Early input from our Certified Contractors and Superior Products International, combined with our own coatings expertise enables optimization of the recommended coating system, while achieving critical schedule, quality, cost and functionality objectives. We look to build long term relationships with the owner, designer, general contractor, Certified Contractors \ Superior team members.
<br><br>
Our team is experienced, creative and motivated and is well supported by industry leading coating systems.
    </p>

  </div>

</div>

<div class="phone">
  <%= link_to image_tag "phonenew.png", height: "90px", width: "90px" %>
</div>


  <div class="phone-number"><img src="/assets/phonenumber.png" class="phone-full" height="45px" /></div>


<a href="http://www.spicoatings.com/" class="auth">

<!-- <img src="/assets/spi-authorized.png" alt="" class="spi-authorized" />
<div class="spi-authorized-title">
  All products<br>
  manufactured by
  <br>
  Superior Products<br>
  International II, Inc.

</a> -->

<%= render 'home/footer' %>
