<!-- Header -->

<div class="nav-container">

  <div class="logo">
    <a href="/" class="logo-text-link">
      <h1 class="logo-text">
      Eagle Specialized Coatings
      <br><br>
      &
      <br><br>
      Protected Environments
      </h1>
    </a>
    <div class="logo-img">
      <%= link_to image_tag("eagle_vanacal.png", height: "340px", width: "440px"), root_path %>
    </div>
    <div class="logo-img2">
      <%= link_to image_tag("eagle_vanacalbl.png", height: "340px", width: "440px"), root_path %>
    </div>
  </div>

  <a href="/products/supertherm" class="supertherm hvr-underline-from-center">
    SuperTHERM<sup>®</sup>
  </a>

  <a href="/products/rustgrip" class="rustgrip hvr-underline-from-center">
    RustGRIP<sup>®</sup>
  </a>

  <a href="/products/hotpipe" class="hot-pipe hvr-underline-from-center">
    Hot-Pipe COATING<sup>®</sup>
  </a>

  <a href="/database/index" class="databaselayer">
    <img src="/assets/product_database_grey.png" height="38px" width="36px" alt="" />
  </a>
  <a href="/database/index" class="product-database-title">
      <%= image_tag "productdatabase.png", size: "145x20" %>
  </a>

  <div class="magnifying-glass">
    <%= link_to image_tag "mg.png", height: "40px", width: "40px" %>
  </div>

  <div class="search-box">
  </div>

  <hr>

</div>
