<br><br><br><br><br>
<br><br><br><br><br>

<table class="">

  <tbody>

		<tr class="">


			<td class="a">

				<div class="project-title">        <span class="field-content">STORAGE SILO&#039;S</span>  </div>

				<img class="project-img" src="http://www.specoating.com/sites/default/files/styles/medium/public/silo%208.jpg?itok=mo8zzA6F" width="164" height="133" alt="Application of SUPER THERM and ENAMO GRIP" title="Application of SUPER THERM and ENAMO GRIP" />
			</div>
		</div>
		<div class="reference-detail-fields">
			<div class="reference-property reference-customer">
				<div class="project-category">Customer:</div>
				<div class="project-entry">Borealis</div>
			</div>
			<br>
			<div class="reference-property reference-markets">
				<div class="project-category">Markets:</div>
				<div class="project-entry">Industry &amp; Buildings</div>
			</div>
			<br>
			<div class="reference-property reference-product">
				<div class="project-category">Product:</div>
				<div class="project-entry">Super Therm®, Enamo Grip</div>
			</div>
			<br>
			<div class="reference-property reference-country">
				<div class="project-category">Country:</div>
				<div class="project-entry">Netherlands</div>
			</div>
		</div>
		<br><br>
		<div class="project-button-container">

			<a class="project-button" href="/references/storage-silos" >Read more</a>
		</div>
	</div></span>  </div>          </td>
                  <td class="b">

  <div class="project-title">        <span class="field-content">VARIOUS INDUSTRIAL WAREHOUSES</span>  </div>

<img class="project-img" src="http://www.specoating.com/sites/default/files/styles/medium/public/SUPER%20THERM%20-%20JAPAN%20-%20WAREHOUSE%20ROOFS%20%288%29.jpg?itok=AZ3FErM5" width="220" height="133" alt="FIBRE CEMENT ROOF – 20.500m²" title="FIBRE CEMENT ROOF – 20.500m²" />
</div>
</div>
	<div class="reference-detail-fields">
		<div class="reference-property reference-customer">
<div class="project-category">Customer:</div>
<div class="project-entry">Multiple</div>
</div>
<br>
		<div class="reference-property reference-markets">
	<div class="project-category">Markets:</div>
	<div class="project-entry">Warehouse &amp; Buildings</div>
</div>
<br>
		<div class="reference-property reference-product">
	<div class="project-category">Product:</div>
	<div class="project-entry">Super Therm®</div>
</div>
<br>
		<div class="reference-property reference-country">
	<div class="project-category">Country:</div>
	<div class="project-entry">Japan</div>
</div>
	</div>
	<br><br>
	<div class="project-button-container">

		<a class="project-button" href="/references/various-industrial-warehouses">Read more</a>
	</div>
</div></span>  </div>          </td></tr>


          <tr class="">
                  <td class="">

  <div class="project-title">        <span class="field-content">OFF-SHORE PLATFORM</span>  </div>
<img class="project-img" src="http://www.specoating.com/sites/default/files/styles/medium/public/rg%202.jpg?itok=4hffliLj" width="220" height="165" alt="ENAMO GRIP application" title="ENAMO GRIP application" />
</div>
</div>
	<div class="reference-detail-fields">
		<div class="reference-property reference-customer">
<div class="project-category">Customer:</div>
<div class="project-entry">Pemex Oil</div>
</div>
<br>
		<div class="reference-property reference-markets">
	<div class="project-category">Markets:</div>
	<div class="project-entry">Energy &amp; Mining, Industry &amp; Manufacturing</div>
</div>
<br>
		<div class="reference-property reference-product">
	<div class="project-category">Product:</div>
	<div class="project-entry">Hot Pipe Coating™, Rust Grip®, Enamo Grip</div>
</div>
<br>
		<div class="reference-property reference-country">
	<div class="project-category">Country:</div>
	<div class="project-entry">Gulf of Mexico</div>
</div>
<br>
	</div>
	<br><br>
	<div class="project-button-container">

		<a class="project-button" href="/references/shore-platform">Read more</a>
	</div>
</div></span>  </div>          </td>


                  <td class="">

  <div class="project-title">        <span class="field-content">GAS COMPRESSOR</span>  </div>
<img class="project-img" src="http://www.specoating.com/sites/default/files/styles/medium/public/pemex%209.jpg?itok=2Re9BtrM" width="220" height="165" alt="Thermal Reading after Application" title="Thermal Reading after Application" />
</div>
</div>
	<div class="reference-detail-fields">
		<div class="reference-property reference-customer">
<div class="project-category">Customer:</div>
<div class="project-entry">Pemex Oil</div>
</div>
<br>
		<div class="reference-property reference-markets">
	<div class="project-category">Markets:</div>
	<div class="project-entry">Energy &amp; Mining, Industry &amp; Manufacturing</div>
</div>
<br>
		<div class="reference-property reference-product">
	<div class="project-category">Product:</div>
	<div class="project-entry">Hot Pipe Coating™, Rust Grip®, Enamo Grip</div>
</div>
<br>
		<div class="reference-property reference-country">
	<div class="project-category">Country:</div>
	<div class="project-entry">Gulf of Mexico</div>
</div>
<br>
	</div>
	<br><br>
	<div class="project-button-container">

		<a class="project-button" href="/references/gas-compressor">Read more</a>
	</div>
</div></span>  </div>          </td>
</tr>
              </tr>


          <tr class="">
                  <td class="">

  <div class="project-title">        <span class="field-content">PETROLEUM PRODUCER</span>  </div>
<img class="project-img" src="http://www.specoating.com/sites/default/files/styles/medium/public/RUST%20GRIP%20-%20SAUDI%20ARABIA%20-%20Aramco%20Before%20and%20After%20%288%29.jpg?itok=_8GKTtOy" width="220" height="165" alt="After RUST GRIP application" title="After RUST GRIP application" />
</div>
</div>
	<div class="reference-detail-fields">
		<div class="reference-property reference-customer">
			<br><br>
<div class="project-category">Customer:</div>
<div class="project-entry">Confidential</div>
</div><br>
		<div class="reference-property reference-markets">
	<div class="project-category">Markets:</div>
	<div class="project-entry">Energy &amp; Mining</div>
</div>
<br>
		<div class="reference-property reference-product">
	<div class="project-category">Product:</div>
	<div class="project-entry">Rust Grip®</div>
</div>
<br>
		<div class="reference-property reference-country">
	<div class="project-category">Country:</div>
	<div class="project-entry">Saudi Arabia</div>
</div>
<br>
	</div>
	<br><br>
	<div class="project-button-container">

		<a class="project-button" href="/references/petroleum-and-natural-gas-producer">Read more</a>
	</div>
</div></span>  </div>          </td>


                  <td class="">

  <div class="project-title">        <span class="field-content">SILO TRUCK</span>  </div>

<img class="project-img" src="http://www.specoating.com/sites/default/files/styles/medium/public/IMG_5738.JPG?itok=PRfWRolG" width="220" height="165" alt="Completed Truck ready for use" title="Completed Truck ready for use" />
</div>
</div>
	<div class="reference-detail-fields">
		<div class="reference-property reference-customer">
<div class="project-category">Customer:</div>
<div class="project-entry">Salari</div>
</div><br>
		<div class="reference-property reference-markets">
	<div class="project-category">Markets:</div>
	<div class="project-entry">Shipping &amp; Transport</div>
</div>
<br>
		<div class="reference-property reference-product">
	<div class="project-category">Product:</div>
	<div class="project-entry">Super Therm®, Enamo Grip</div>
</div>
<br>
		<div class="reference-property reference-country">
	<div class="project-category">Country:</div>
	<div class="project-entry">Netherlands</div>
</div>
<br>
	</div>
	<br><br>
	<div class="project-button-container">

		<a class="project-button" href="/references/silo-truck">Read more</a>
	</div>
</div></span>  </div>          </td>
              </tr>
