<div class="logo"><h1 class="logo-text">
    Eagle Specialized Coatings
    <br><br>
    &
    <br><br>
    Protected Environments
    <div class="logo-img">
      <%= image_tag "eagle_vanacal.png", height: "340px", width: "440px" %>
    </div>
  </h1>
</div>

<hr>

  <div class="supertherm">
    SuperTHERM<sup>®</sup>
  </div>

  <div class="rustgrip">
    RustGRIP<sup>®</sup>
  </div>

  <div class="hot-pipe">
    Hot-Pipe COATING<sup>®</sup>
  </div>

  <div class="product-database">
    <%= image_tag "product_database_grey.png", height: "40px", width: "40px" %>
  </div>

  <div class="magnifying-glass">
    <%= image_tag "mg.png", height: "40px", width: "40px" %>
  </div>

  <div class="thermal-box">

  </div>
  <div class="corrosion-box">

  </div>
  <div class="fire-box">

  </div>

  <div class="intro">
Eagle Coatings is in the business of solving large scale construction problems. As the Canadian distributor for Superior Products International, allow us to provide your next project with over 20 years of expertise in minimizing energy loss and protecting your investment.
  </div>

  <div class="phone">
    <%= image_tag "phone.png", height: "80px", width: "80px" %>    
  </div>
