<%= render 'home/nav2' %>


<div class="payments-background">
  <img src="/assets/pay.png" alt="" height="550px" width="550px" />
</div>

<div class="payments-container">

Payments

  <div class="payments">
    <p>
<br>

    </p>

  </div>

</div>

<div class="phone">
  <%= link_to image_tag "phonenew.png", height: "90px", width: "90px" %>
</div>


  <div class="phone-number"><img src="/assets/phonenumber.png" class="phone-full" height="45px" /></div>


<a href="http://www.spicoatings.com/" class="auth">

<!-- <img src="/assets/spi-authorized.png" alt="" class="spi-authorized" />
<div class="spi-authorized-title">
  All products<br>
  manufactured by
  <br>
  Superior Products<br>
  International II, Inc.

</a> -->

<%= render 'home/footer' %>
