<%= render 'home/nav2' %>

<div class="about-background"><img src="/assets/about.png" alt="" height="550px" width="550px"/>
</div>
<div class="about-container">

  About Us

  <div class="about-us">
    <p>
<br><br>
Eagle Specialized Coatings And Protected Environments ( E.S.C.A.P.E. ) a division of DW Pearce Enterprises Ltd is the Canadian and Pacific West Coast authorized distributor
for Superior Products International II, Inc. a US manufacturer of leading edge, high tech industrial protective coatings with a world wide distributor network.
<br><br>

 There is only one thought you need to keep in mind...if you don't see the solution for your problem here, it probably hasn't been created...at least not yet!
    </p>

  </div>

</div>

<div class="phone">
  <%= link_to image_tag "phonenew.png", height: "90px", width: "90px" %>
</div>


  <div class="phone-number"><img src="/assets/phonenumber.png" class="phone-full" height="45px" /></div>


<a href="http://www.spicoatings.com/" class="auth">

<!-- <img src="/assets/spi-authorized.png" alt="" class="spi-authorized" />
<div class="spi-authorized-title">
  All products<br>
  manufactured by
  <br>
  Superior Products<br>
  International II, Inc.

</a> -->

<%= render 'home/footer' %>
