// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-container {
  position: absolute;
  top: 280px;
  left: 200px;
  font-family: 'Poiret One', cursive;
  font-size: 58px;
}

.about-us {
  text-align: center;
  margin: 40px 400px 50px 150px;
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  line-height: 150%;
}

.about-background {
  position: absolute;
  top: 260px;
  left: 685px;
  opacity: 0.05;
  z-index: 1;
}
