/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require video-js
 */

/* Option #1 */

/*body {
  background-image: url("brown.png");
}*/

/*.xyz {
  display: block;
  position: absolute;
  top: 163px;
  left: 1799px;
}

img {
  display: inline-block;
}*/

.container {
  padding: 10px 10px 10px 10px;
}

body {
  background-image: url("bg2.jpg");
}

.logo-text-link {
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

.logo-text a {
  text-decoration: none;
}

.logo-text {
  position: absolute;
  font-family: cursive;;
  font-size: 27px;
  text-align: center;
  top: 10px;
  left: 70px;
  line-height: 90%;
  color: black;
  z-index: 0;
}

.logo-img {
  position: absolute;
  top: -100px;
  left: -75px;
  z-index: -1;
}

.logo-img2 {
  position: absolute;
  top: -100px;
  left: -75px;
  z-index: -2;
}

.logo {
  padding-right: 1450px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 12em 3em;
    padding: 0;
}

.supertherm {
  position: absolute;
  top: 165px;
  left: 580px;
  font-size: 30px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

.supertherm:hover {
  font-weight: bold;
  color: #0c1fc7;
}

.rustgrip {
  position: absolute;
  top: 165px;
  left: 960px;
  font-size: 30px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

.rustgrip:hover {
  font-weight: bold;
}

.hot-pipe {
  position: absolute;
  top: 165px;
  left: 1280px;
  font-size: 30px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

.hot-pipe:hover {
  font-weight: bold;
}

/*.product-database {
  position: absolute;
  top: 165px;
  left: 1800px;

}*/
/*.databaselayer-container {
  position: absolute;
  top: 163px;
  left: 1799px;
}*/

.databaselayer {
  position: absolute;
  top: 163px;
  left: 1799px;
}

.product-database {
  display: none;
}

.database-layer3 {
  position: absolute;
  top: 156px;
  left: 1791px;
  display: none;
}

.database-layer2 {
  margin-bottom: 5px;
  position: absolute;
  top: 159px;
  left: 1791px;
  display: none;
}

.database-layer {
  position: absolute;
  top: 162px;
  left: 1791px;
  display: none;
}



.magnifying-glass {
  position: absolute;
  top: 65px;
  left: 1800px;
}

.search-box {
  position: absolute;
  top: 65px;
  left: 1475px;
  height: 40px;
  width: 300px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
  display: none;
}

.chat {
  position: absolute;
  top: 1000px;
  left: 1790px;
  color: #d0e4fe;
}

.about {
  position: absolute;
  top: 1030px;
  left: 1230px;
}

.email {
  position: absolute;
  top: 1028px;
  left: 1145px;
}

.facebook {
  position: absolute;
  top: 1030px;
  left: 1063px;
}

.tw {
  position: absolute;
  top: 1030px;
  left: 977px;
}

.youtube {
  position: absolute;
  top: 1030px;
  left: 890px;
}

.links {
  position: absolute;
  top: 1030px;
  left: 807px;
}

.contractors {
  position: absolute;
  top: 1030px;
  left: 719px;
}

.pay {
  position: absolute;
  top: 1030px;
  left: 630px;
}

/* Title */

/*#wrapper .title {
  position: relative;
  bottom: 20px;
  left: 0px;
  visibility: hidden;
}

#wrapper:hover .title {
  visibility: visible;
}*/

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  transform: translateY(-8px);
}
