// Place all the styles related to the CertifiedContractors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.certified-contractors-container {
  position: absolute;
  top: 280px;
  left: 200px;
  font-family: 'Poiret One', cursive;
  font-size: 58px;
}

.certified-contractors {
  text-align: center;
  margin: 70px 350px 50px 170px;
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  line-height: 150%;
}

.certified-contractors-background {
  position: absolute;
  top: 260px;
  left: 685px;
  opacity: 0.05;
  z-index: 1;
}
