// Place all the styles related to the Database controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.database-container {
  position: relative;
  margin: -130px 20px 0px 200px;
  font-family: 'Poiret One', cursive;
  font-size: 58px;
}

.database {
  text-align: center;
  margin: 70px 500px 50px 170px;
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  line-height: 150%;
}

.database-background {
  position: fixed;
  top: 260px;
  left: 731px;
  opacity: 0.05;
  z-index: 1;
  // margin: 10px 0px 0px 100px;
}

.thermal-database {
  text-align: left;
  position: relative;
  margin: 100px 20px 100px 570px;

  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  line-height: 175%;
}

.corrosion-database {
  text-align: left;
  position: relative;
  margin: 100px 20px 100px 545px;

  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  line-height: 175%;
}

.fire-database {
  text-align: left;
  position: relative;
  margin: 100px 20px 100px 545px;

  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  line-height: 200%;
}

.concrete-database {
  text-align: left;
  position: relative;
  margin: 100px 20px 100px 545px;

  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  line-height: 175%;
}

.graffiti2-database {
  text-align: left;
  position: relative;
  margin: 100px 20px -80px 545px;
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  line-height: 175%;
}

.description {
  display: inline;
  position: absolute;
  text-align: inherit;
  left: 380px;
  color: rgb(133, 134, 134);
  word-wrap: break-word;
  width: 23em;
  vertical-align: text-top;
  font-size: .9em;
}

.mid-temp {
  font-size: .65em;
  text-align: center;
  vertical-align: bottom;
}

.supertherm-db {
  position: absolute;
  padding: 20px 20px 20px 20px;
  align-self: center;
  // padding: 10px 10px 10px 10px;
  height: 200px;
  width: 900px;
  background-color: blue;
  z-index: -1;
}
