// Place all the styles related to the Database controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.database-container {
  position: absolute;
  top: 280px;
  left: 270px;
  font-family: 'Poiret One', cursive;
  font-size: 58px;
}

.database {
  text-align: center;
  margin: 85px 400px 50px 150px;
  font-family: 'Baskerville';
  font-size: 28px;
}
