// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-container {
  position: relative;
  padding: 10px 0px 10px 10px;

}

.main-container {
  position: relative;
  margin-top: -430px;
}

.footer-container {
  position: relative;
  margin-top: 650px;
}

.thermal-box {
  border: 1px solid black;
  /*border-radius: 5px;*/
  height: 300px;
  width: 375px;
  position: absolute;
  top: 325px;
  left: 250px;
  box-shadow: 10px 10px 50px 5px;
}

.thermal-img {
  position: absolute;
  top: 380px;
  left: 251px;
  z-index: 5;
}

.thermal-img-title {
  position: absolute;
  top: 340px;
  left: 370px;
  z-index: 10;
  font-family: "Trajan Pro";
  font-size: 28px;
}

.thermal-white {
  position: absolute;
  top: 326px;
  left: 251px;
  background-color: white;
  height: 55px;
  width: 373px;
}

.thermal-vid {
  position: absolute;
  top: 381px;
  left: 251px;
  height: 10px;
  z-index: 0;
}

.play-thermal {
  position: absolute;
  top: 460px;
  left: 392px;
  z-index: 20;
}

.corrosion-box {
  border: 1px solid black;
  /*border-radius: 5px;*/
  height: 300px;
  width: 375px;
  position: absolute;
  top: 325px;
  left: 760px;
  box-shadow: 10px 10px 50px 5px;
}

.corrosion-img {
  position: absolute;
  top: 380px;
  left: 761px;
  z-index: 5;
}

.corrosion-vid {
  position: absolute;
  top: 285px;
  left: 761px;
  z-index: 0;
}


.corrosion-img-title {
  position: absolute;
  top: 340px;
  left: 861px;
  z-index: 10;
  font-family: "Trajan Pro";
  font-size: 28px;
}

.corrosion-white {
  position: absolute;
  top: 326px;
  left: 761px;
  background-color: white;
  height: 55px;
  width: 373px;
}

.play-corrosion {
  position: absolute;
  top: 460px;
  left: 910px;
  z-index: 20;
}

.fire-img {
  position: absolute;
  top: 380px;
  left: 1271px;
  z-index: 5;
}


.fire-box {
  border: 1px solid black;
  /*border-radius: 5px;*/
  height: 300px;
  width: 375px;
  position: absolute;
  top: 325px;
  left: 1270px;
  box-shadow: 10px 10px 50px 5px;
  }

.fire-vid {
  position: absolute;
  top: 245px;
  left: 1270px;
  z-index: 0;
}

.fire-white {
  position: absolute;
  top: 326px;
  left: 1271px;
  background-color: white;
  height: 55px;
  width: 373px;
}

.fire-img-title {
  position: absolute;
  top: 340px;
  left: 1430px;
  z-index: 10;
  font-family: "Trajan Pro";
  font-size: 28px;
}

.play-fire {
  position: absolute;
  top: 460px;
  left: 1425px;
  z-index: 20;
}

.intro {
  position: absolute;
  top: 710px;
  margin: 0px 100px 0px 100px;
  text-align: center;
  font-size: 27px;
  line-height: 150%;
  font-weight: 300;
  color: grey;
  color: black;
  font-family: 'Raleway';
  font-weight: 600;
}





.band {
  position: relative;
  margin-bottom: 100px;
  top: 250px;
  left: -280px;
  height: 100px;
  width: 1920px;
  background-color: black;
}

.project-title {
  margin-top: 10px;
  padding: 100px 0px 20px 69px;
  position: relative;
  font-family: 'Poiret One', cursive;
  font-size: 38px;
}

.project-img {
  display: inline;
  float: left;
  margin: 10px 0px 20px 69px;
}

.project-category {
  position: relative;
  font-family: 'Raleway';
  font-size: 12px;
  display: inline;
  text-align: left;
  margin: 0px 0px 0px 20px;
}

.project-entry {
  position: relative;
  font-family: 'Raleway';
  font-size: 12px;
  font-weight: 500;
  text-align: right;
  float: right;
  display: inline;
  margin: 0px 0px 0px 0px;
}

.project-button-container {
  text-align: center;
  margin: 50px 0px 100px 69px;
}
.project-button {
    position: relative;
    display: inline-block;

    // margin: 40px 50px 50px 260px;

        color: #333;
        background-color: rgb(251, 245, 229);
        border: 1px solid #222;
        padding: 8px 20px;
        border-radius: 25px;
    font-size: 14px;
    // font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        &:hover {
                text-decoration: none;
                background-color: #333;
                color: #fff;
                transition: 0.5s;
        }
  }


//   .verticalLine {
//     position: absolute;
//     margin: 100px 700px 10px 700px;
//     border-left: thin solid #030303;
//     min-height: 2000px;
// }

.a {
  width: 50%;
}
.b {
  width: 200%;
}
