// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-container {
  position: relative;
  height: 10%;
  // margin: 50px 50px 0px 50px;
  // left: 100px;
}

.main-container {
  position: relative;
  height: 30%;
  width: 100%;
  // padding: 0px 0px 0px 0px;
  // margin-top: -430px;
}

.footer-container {
  position: relative;
  height: 70%;
  margin: 0px 0px 0px 0px;
}

.documents-container {
  // width: 1%;
  // height: auto;
}

// .footer-container-main {
//   position: fixed;
//   margin-top: 0px;
// }


.thermal-box {
  position: relative;
  border: 1px solid black;
  height: 300px;
  width: 375px;
  display: inline-block;
  float: left;
  margin-left: 200px;
  // top: 325px;
  // left: 250px;
  // box-shadow: 10px 10px 50px 5px;
}

.thermal-img {
  position: absolute;
  top: 0px;
  left: 551px;
  z-index: 5;
}

.thermal-img-title {
  position: absolute;
  // top: 340px;
  // left: 370px;
  // z-index: 10;
  // font-family: "Trajan Pro";
  // font-size: 28px;
}

.thermal-white {
  position: absolute;
  // top: 326px;
  // left: 251px;
  // background-color: white;
  // height: 55px;
  // width: 373px;
}

.thermal-vid {
  position: absolute;
  // top: 381px;
  // left: 251px;
  // height: 10px;
  // z-index: 0;
}

.play-thermal {
  position: absolute;
  display: inline-block;
  top: 460px;
  left: 392px;
  z-index: 20;
}

.corrosion-box {
  position: relative;
  display: inline-block;
  height: 300px;
  width: 375px;
  margin: 0% 10%;
  // margin-left: 30%;
  border: 1px solid black;
  /*border-radius: 5px;*/
  box-shadow: 10px 10px 50px 5px;
}

.corrosion-img {
  position: absolute;
  display: inline;
  z-index: 5;
}

.corrosion-vid {
  position: absolute;
  display: inline;
  z-index: 0;
}


.corrosion-img-title {
  position: absolute;
  display: inline;
  z-index: 10;
  font-family: "Trajan Pro";
  font-size: 28px;
}

.corrosion-white {
  display: inline-block;
  position: absolute;
  background-color: white;
  height: 55px;
  width: 373px;
}

.play-corrosion {
  display: inline-block;
  position: absolute;
  z-index: 20;
}

.fire-img {
  display: inline-block;
  position: absolute;
  z-index: 5;
}


.fire-box {
  float: right;
  margin-right: 200px;
  border: 1px solid black;
  /*border-radius: 5px;*/
  height: 300px;
  width: 375px;
  display: inline-block;
  position: relative;
  box-shadow: 10px 10px 50px 5px;
  }

.fire-vid {
  display: inline-block;
  position: absolute;
  z-index: 0;
}

.fire-white {
  display: inline-block;
  position: absolute;
  background-color: white;
  height: 55px;
  width: 373px;
}

.fire-img-title {
  display: inline-block;
  position: absolute;
  z-index: 10;
  font-family: "Trajan Pro";
  font-size: 28px;
}

.play-fire {
  display: inline-block;
  position: absolute;
  z-index: 20;
}

.intro {
  display: inline-block;
  position: relative;
  margin: 100px 100px 0px 100px;
  text-align: center;
  font-size: 27px;
  line-height: 150%;
  font-weight: 300;
  color: grey;
  color: black;
  font-family: 'Raleway';
  font-weight: 600;
}





.band {
  position: relative;
  margin-bottom: 100px;
  top: 250px;
  left: -280px;
  height: 100px;
  width: 1920px;
  background-color: black;
}

.project-title {
  margin-top: 10px;
  padding: 100px 0px 20px 69px;
  position: relative;
  font-family: 'Poiret One', cursive;
  font-size: 38px;
}

.project-img {
  display: inline;
  float: left;
  margin: 10px 0px 20px 69px;
}

.project-category {
  position: relative;
  font-family: 'Raleway';
  font-size: 12px;
  display: inline;
  text-align: left;
  margin: 0px 0px 0px 20px;
}

.project-entry {
  position: relative;
  font-family: 'Raleway';
  font-size: 12px;
  font-weight: 500;
  text-align: right;
  float: right;
  display: inline;
  margin: 0px 0px 0px 0px;
}

.project-button-container {
  text-align: center;
  margin: 50px 0px 100px 69px;
}
.project-button {
    position: relative;
    display: inline-block;

    // margin: 40px 50px 50px 260px;

        color: #333;
        background-color: rgb(251, 245, 229);
        border: 1px solid #222;
        padding: 8px 20px;
        border-radius: 25px;
    font-size: 14px;
    // font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        &:hover {
                text-decoration: none;
                background-color: #333;
                color: #fff;
                transition: 0.5s;
        }
  }


//   .verticalLine {
//     position: absolute;
//     margin: 100px 700px 10px 700px;
//     border-left: thin solid #030303;
//     min-height: 2000px;
// }

.a {
  width: 50%;
}
.b {
  width: 200%;
}
