* {
  box-sizing: border-box;
}
html {
  font-size: 1em;
  font-family: 'Alike';
  // background-color: #262626;
  color: rgb(74, 74, 74);
}
body {
  margin: 0;
}
// img {
//   max-width: 100%;
//   height: auto;
// }
h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto';
  line-height: 1.313em;
}
h1 {
  font-size: 3em;
  margin: 0.563em 0;
}
h2 {
  font-size: 2.25em;
  margin: 0.625em 0;
}
h3 {
  font-size: 1.5em;
  margin: 1.313em 0;
}
h4 {
  font-size: 1.313em;
  margin: 1.313em 0;
}
h5 {
  font-size: 1.125em;
  margin: 1.313em 0;
}
h6 {
  font-size: 1em;
  margin: 0.75em 0;
}

.right-main {
  padding: 1.6em 7em 0em 52%;
  background-position: 6% 51%;
}

.content-main {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #262626;
  background-size: 47% auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.right {
  padding: 1.618em 6.472em 3.236em 50%;
  background-position: 0 50%;
}

.content-hpc {
  font-size: 1.7rem;
  color: #262626;
  background-size: 49% auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.separator {
  font-size: 1.875rem;
  padding: 1.618em 0;
  text-align: center;
}

.illustration_01-hotpipe {
  background-image: url("/assets/hp-1.jpeg");
  // margin: 0px 0px 0px 90px;
}

.illustration_02-hotpipe {
  background-color: rgba(129, 80, 16, 0.69);
  background-image: url("/assets/hp-2.jpg");
}

.illustration_03-hotpipe {
  background-color: grey;
  background-image: url("/assets/hp-3.jpg");
}

.illustration_04-hotpipe {
  background-color: white;
  background-image: url("/assets/hp-4.jpeg");
}

.left {
  padding: 1.618em 50% 3.236em 6.472em;
  background-position: 100% 50%;
}
