.supertherm-band {
  position: absolute;
  margin-bottom: 100px;
  top: 1250px;
  left: 0px;
  height: 100px;
  width: 1920px;
  background-color: black;
  z-index: -1;
}
.supertherm-band2 {
  position: absolute;
  margin-bottom: 100px;
  top: 2500px;
  left: 0px;
  height: 100px;
  width: 1920px;
  background-color: black;
  z-index: -1;
}
.supertherm-band3 {
  position: absolute;
  margin-bottom: 100px;
  top: 3750px;
  left: 0px;
  height: 100px;
  width: 1920px;
  background-color: black;
  z-index: -1;
}

.supertherm-band4 {
  position: absolute;
  margin-bottom: 100px;
  top: 5050px;
  left: 0px;
  height: 100px;
  width: 1920px;
  background-color: black;
  z-index: -1;
}

.supertherm-box {
  border: 1px solid black;
  /*border-radius: 5px;*/
  height: 300px;
  width: 375px;
  position: absolute;
  top: 425px;
  left: 250px;
  box-shadow: 10px 10px 50px 5px;
}

.supertherm-box img {
  height: 200px;
  width: 275px;
  position: relative;
  top: 45px;
  left: 45px;
}

.supertherm-pic1 {
  position: absolute;
  top: 350px;
  left: 100px;
}

.supertherm-1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.supertherm-2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.supertherm-3 {
float: left;
}

.supertherm-4 {
float: left;
}

.supertherm-5 {
float: left;
}

.supertherm-6 {
float: left;
}

.supertherm-7 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.supertherm-8 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.supertherm-9 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.supertherm-10 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.supertherm-11 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.supertherm-12 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.supertherm-13 {
  display: block;
  margin-left: auto;
  margin-right: auto;}

.supertherm-14 {
float: left;
}

.supertherm-15 {
  display: block;
  margin-left: auto;
  margin-right: auto;}

.supertherm-16 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.supertherm-17 {
  display: block;
  margin-left: auto;
  margin-right: auto;}

.supertherm-18 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.supertherm-19 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
