.thermal-parallax {
  display: none;
  margin-top: 725px;
  z-index: -1;
}

.page-opening {
  position: absolute;
  padding: 0em 50% 0em 2em;
  display: none;
}

.page-opening-bottom {
  position: absolute;
  top: 1400px;
  left: 33px;
  display: none;
}

.thermal-right-main {
  padding: 1.6em 7em 0em 52%;
  background-position: 6% 51%;
}

.thermal-content-main {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #262626;
  background-size: 47% auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.thermal-right {
  padding: 1.618em 6.472em 3.236em 50%;
  background-position: 0 50%;
}

.thermal-left {
  padding: 1.618em 50% 3.236em 6.472em;
  background-position: 100% 50%;
}

.thermal-content {
  font-size: 1.7rem;
  color: #262626;
  background-size: 49% auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.thermal-separator {
  font-size: 1.875rem;
  padding: 1.618em 0;
  text-align: center;
}

.thermal-illustration_01 {
  background-image: url("/assets/thermal-1.jpg");
}

.thermal-illustration_02 {
  background-color: rgba(129, 80, 16, 0.69);
  background-image: url("/assets/thermal-2.jpg");
}

.thermal-illustration_03 {
  background-color: grey;
  background-image: url("/assets/rg-2.jpg");
}
.thermal-illustration_04 {
  background-color: white;
  background-image: url("/assets/rg-3.jpg");
}
