<%= render 'home/nav' %>
<%= render 'products/documents' %>

<img id="hpa" src="/assets/hp-1.jpeg" alt="" />
<img id="hpb" src="/assets/hp-2.jpg" alt="" />
<img id="hpc" src="/assets/hp-3.jpeg" alt="" />
<!-- <img id="hpd" src="/assets/hp-4.jpg" alt="" /> -->
<div class="hpe-c">
  <img id="hpe" src="/assets/hp-5.jpeg" alt="" />
</div>

<img id="hpf" src="/assets/hp-6.jpg" alt="" />
<img id="hpg" src="/assets/hp-7.png" alt="" />

<div class="hot-pipe-band">

</div>
