<%= render 'home/nav2' %>
<%= render 'products/documents' %>


<div class="content-main right-main illustration_01">
     <h3>RustGRIP<sup>®</sup></h3>
     <p>RustGRIP<sup>®</sup> is a one-part polyurethane coating that combines with atmospheric moisture to cure. Upon curing, RUSTGRIP ® provides a protective coating of superior adhesion, flexibility and abrasion / impact resistance. It is resistant to chemical solvents and acid splash. Originally designed for metal surfaces, RUSTGRIP ® demonstrates excellent adhesion to wood, concrete, fiberglass and many other substrates. </p>

     <p>RUSTGRIP ® is designed for the encapsulation of and adherence to tightly bonded surfaces of lead based and other toxic paints and materials as well as rusted surfaces. This unique ability is accomplished by the curing mechanism of the base polymer.</p>

     <p>The coating ( having a low initial viscosity ) wets the rusty surface, then penetrates to the foundation of the rust's origin where curing begins. RUSTGRIP ® actually becomes part of the substrate unlike a surface coating which just bonds on top. The polymer literally begins to swell, developing an interlocking network between the pores of the surface and the coating. RUSTGRIP is highly recommended as a primer coat for SUPERTHERM ®. No pot life, no catalyzation, no two-part mixing.</p>

      </div>

 <section class="separator">
   <h3>Designed for Encapsulation</h3>
 </section>

 <div class="content left illustration_02">
  <h2>RUSTGRIP ® is not a sacrificial rust inhibitor</h2>
  <p>RUSTGRIP ® is not a sacrificial rust inhibitor such as a zinc enriched primer that will wear out over time but in fact a permanent rust proofing which is why it is a certified ( ASTM E1795 ) Biohazard Encapsulator. RUSTGRIP ® has also passed 15,000 hours of salt spray testing which far exceeds the marine specifications and consequently has achieved DNV certification. Can substitute for zinc-rich primer requiring no white sandblasting. Can be applied over rusted surfaces after loose \ flaking material is removed. High humidity quickens dry \ cure cycle.</p>
  <p>RUST GRIP COATING FOR HARSH ENVIRONMENT PROTECTION
  The difference between a surface coating and RUSTGRIP! ®
  A surface coating does not have the special solvent carrier to allow it to enter the pores of a substrate and carry the body of the coating into the pores with it. The surface coating will bite into anything above the pore area and adhere to the surface by attaching to any roughness. This works well in most areas until the surface of the coating is exposed to weathering and other elements over time allowing oxidation and acid rain to enter through its pin holes and begin the migration of corrosion.</p>
  </div>

<section class="separator">
  <h3>Special Solvent Carriers</h3>
</section>
<div class="content right illustration_03">
  <h2>RUSTGRIP ® is made with special solvent carriers</h2>
  <p>that allow the coating to penetrate into the pores carrying the body of the coating with it. Once the body of the coating is in the pores, it begins to absorb the moisture from the atmosphere and gases itself or does a microscopic swell inside the pores that anchors it into the metal or any other surface. This action does allow the coating to become part of the actual surface which is different than all other industrial coatings.
</p>
 <p> Also, its high molecular weight allows the coating to become extremely tough. Being an aromatic urethane in nature, it is already extremely resistant to acids. Its non-leafing metallics allow an encapsulation of the surface and adds additional toughness and UV control to its surface.
</p>
 <p> RUSTGRIP ® vs. Competition on Salt Spray testing

  3-Part system vs. RUSTGRIP ®

  3-Part System Steps

  1) White Sandblast / Prep
  2) Primer
  3) Intermediate
  4) Top Coat
  5) Labour @ $0.85/sqft x 3
  $ 7.50/sqft
  $ 0.75/sqft for product
  $ 0.60/sqft for product
  $ 0.60/sqft for product
  $ 2.55/sqft for labor
  Total $12.00/sqft
</p>

<p>RUSTGRIP ® System Steps

1) Pressure-Wash / Prep
2) RUST GRIP ®
3) Labour x 2 $ 1.00/sqft
$ 0.78/sqft for product
$ 1.00/sqft for labor
Total $ 2.78/sqft
</p>
</div>
<section class="separator">
<h3>Asset Protection</h3>
</section>
<div class="content left illustration_04">
<h2>Using RUSTGRIP ® is $9.22 (77%) Less Expensive than a Traditional 3-Part System!</h2>
<p>

- Cost may vary depending on location in country, union or non-union labor, height of structure, over water, or whether dealing with Lead Based Paint (LBP).
- LBP sandblast and surface prep will include labor, containment, water processing, and disposal of bio-hazardous materials. Estimated Prep cost is $16.00 / sqft.
- Rust Grip® needs no sandblast or disposal of bio-hazardous material for encapsulating LBP. Estimated Prep cost is $7.00 / sqft. A savings of $9.00 per square foot.
- LBP Estimated Systems- 3-Part System: $19.90/sqft RUSTGRIP ® System: $9.75/sqft. Additional savings of $10.00/sqft.
- Costs will vary depending on the size of job. Larger projects will demand lower pricing.
</p>
<p>PHYSICAL DATA:
* Solids: By weight 62.2% / By Volume 51.4%
* Cure time at 70°F (21°C): 2 hours to touch. Overcoat with RUSTGRIP ® or other coatings immediately after surface is dry to the touch to achieve proper adhesion. Higher temperatures and humidity will shorten cure times, lower temperatures will slow curing. Must be overcoated within 2 hours or within 1 hour after reaching the dry-to-touch stage, or the surface must be lightly sanded to achieve good adhesion.
* Lead and Chromate free
* Cures by reacting to moisture in the air
* Weight: 9.18 lbs. per gallon
* Surface Tensile Strength: 6,780+ psi
* VOC Level: 3.17 lbs/gal ; 380 grams/liter
* Impact Resistance: 200+ psi front/160+ psi back
* Shelf Life: up to 3 years (unopened) under appropriate storage conditions (see MSDS)</p>

<p> FEATURE<p>LIMITED WARRANTY:
Unless Superior Products provides a written warranty of fitness for a particular use, Superior Product's sole warranty is that the product, as supplied, will meet then current sales specifications and is specific only to return of product found to be defective upon opening of container within one year. Customer's exclusive remedy and Superior's sole liability for breach of warranty is limited to refund of the purchase price or replacement of any product shown to be other than as warranted and Superior Products expressly disclaims any liability for incidental or consequential damage.
IF CORROSION IS A PROBLEM ON ANY STRUCTURE OR EQUIPMENT . . .
</p>ut effect
• Can withstand + 325°F degrees constant heat before the resins burn out </p>
<p>LIMITED WARRANTY:
Unless Superior Products provides a written warranty of fitness for a particular use, Superior Product's sole warranty is that the product, as supplied, will meet then current sales specifications and is specific only to return of product found to be defective upon opening of container within one year. Customer's exclusive remedy and Superior's sole liability for breach of warranty is limited to refund of the purchase price or replacement of any product shown to be other than as warranted and Superior Products expressly disclaims any liability for incidental or consequential damage.
IF CORROSION IS A PROBLEM ON ANY STRUCTURE OR EQUIPMENT . . .
</p>
</div>
<section class="separator">
<h3>(604) 577 - 2212</h3>
</section>
