<%= render 'home/nav2' %>
<%= render 'products/documents' %>

<div class="content right illustration_01-supertherm">
     <h3>SuperTHERM<sup>®</sup></h3>
     <p>Enhancement of insulation effect from residential to INDUSTRIAL and everything in between!</p>

     <p>SUPERTHERM ® is a unique single component combination of high performance aliphatic urethanes, elastomeric acrylics, standard acrylics and resin additives in a water borne formula. No co-solvents are present and will dry by evaporation. Due to the unique combination of acrylics and urethanes, SUPERTHERM ® cures out completely in 14 - 21 days to an extremely tough, durable, non-yellowing, water resistant coating that also provides flexibility, water proofing and UV stability. SUPERTHERM ® has passed 2000 hours of salt spray testing which equals marine specifications and in fact has DNV certification.</p>

     <p>SUPERTHERM ® was built to meet the requirements of industrial uses which required a tough surface, and provide flexibility against stresses of contraction and expansion. Also, unlike all other "reflective" paints on the market which offer only a single reflective ceramic to provide heat reflection, SUPERTHERM ® is designed with four separate ceramic compounds for insulation from radiant heat, reflection, conduction and convection. SUPERTHERM ® ceramics are not the rough multifaceted type as the one found in other coatings. </p>

      </div>

 <section class="separator">
   <h3>SuperTHERM<sup>®</sup> liquid ceramic insulation coating is a non-deteriorating (water proof) re19 insulation</h3>
 </section>

 <div class="content left illustration_02-supertherm">
  <h2>EMISSIVITY EXPLAINED & DEMONSTRATED</h2>
  <p>Therefore, SUPERTHERM ® is a true " insulating " coating and not just a reflective paint as are all the competing formulas in the market. Also tested by the Thermo Physical Research Laboratory for comparative R19 equivalent insulation factor SUPERTHERM ® blocked 92% of the heat. No other R19 equivalent insulator can claim that! No Fiberglass, No Foam, No Cellulose, No other single ceramic paint!</p>
  <p>RUST GRIP COATING FOR HARSH ENVIRONMENT PROTECTION
  The difference between a surface coating and RUSTGRIP! ®
  A surface coating does not have the special solvent carrier to allow it to enter the pores of a substrate and carry the body of the coating into the pores with it. The surface coating will bite into anything above the pore area and adhere to the surface by attaching to any roughness. This works well in most areas until the surface of the coating is exposed to weathering and other elements over time allowing oxidation and acid rain to enter through its pin holes and begin the migration of corrosion.</p>
  </div>

<section class="separator">
  <h3>SUPERTHERM ® ADDRESSES ALL THREE MODES OF HEAT TRANSFER!
REPELS RADIATED HEAT ~ REFLECTS CONVECTED HEAT ~ RESISTS CONDUCTED HEAT</h3>
</section>
<div class="content right illustration_03-supertherm">
  <h2>~ The first ceramic compound is primarily to block Ultra Violet (UV) heat at 99%.</h2>

<p>

~ The second ceramic repels better than 92% of Visual Light (short wave) heat.

~ The third ceramic compound is to stop 92% of heat and / or cold conduction by hollow sphere technology which is not glass.

~ The fourth ceramic compound is designed specifically for stopping infrared radiated heat. This ceramic blocks 99.5% of Infrared Radiation ( long wave ) to control the heat gain or loss to the envelope of buildings or equipment. This new compound was introduced in February of 2000 as part of our continued research in controlling heat transfer.

From the BOB VILA blog "The Dean of Home Renovation & Repair Advice"
"Ceramic Coatings for Increased Insulation"

- The combination of acrylics provide elasticity and adhesion while the urethane adds toughness, binds the acrylics and compounds and also provides a moisture barrier. The fourth resin additive is what makes the complete resin blend to combine into a single component and extends the life of the coating. This resin / ceramic combination has been shown to repel both heat and fire, withstand elements for 30 to 40 years, endure a 180 degree bend without cracking, resist water, acid rain and ultraviolet light. SUPERTHERM ® is a permanently flexible "breathable" membrane that stops water penetration and prevents corrosion and surface deterioration.
</p>
 <p> PHYSICAL DATA:
* Solids: By weight 70% / By volume 60%.
* Film Thickness: On all substrates SUPERTHERM ® should be applied at 17 mils wet / 10 mils dry.
- Under no circumstances should SUPERTHERM ® be applied at less than 10 mils dry/ 17 mils wet each coat!
* Dry Time: One hour to touch at 70°F. degrees and bright sun / Overcoat window is two hours or longer at 70°F. degrees / Fully cures in twenty one days.
* Lead and chromate free.
* Cures by evaporation with no co-solvents present.
* Weight: 11.88 lbs. per gallon.
* Shelf Life: up to 5 years (unopened) under appropriate storage conditions (see MSDS).
* VOC Level: 67.2 grams per liter / 0.561 lbs per gallon.
* pH: 8.5 - 9.0.
* Viscosity: 105-110 KU.
</p>
 <p> FEATURES:
• VOC-Compliant: Only 67.2 grams/liter. Limit is 420 grams. Qualifies under Green Seal limits of 100 grams/liter (g/l) for Flat interior & exterior paints
• US Consumer Product Safety Commission approved
• USDA \ CFIA approved for use around foods
SUPERTHERM ® PROTECTS AGAINST MOLD, MILDEW and other PATHOGENS!
</p>

  <p>Flame Spread Class " A " Rating with " 0 " flame spread (NASA) (Omega Point Laboratories - ASTM E84 \ UL 723)
Smoke Developed Class " A " Rating with " 0 "smoke developed (Omega Point Laboratories - ASTM E84)
" K " Rating with No off gassing (NASA)
</p>
  </div>
<section class="separator">
  <h3>Asset Protection</h3>
</section>
<div class="content left illustration_04-supertherm">
  <h2>• BOCA Evaluation Services Inc. Certified and listed as "Thermal Insulation Materials"
• GSA listed with US government
• Energy Star approved partner</h2>
  <p>

    Reduction of BTU conduction through a steel plate from 367.2 to 3.99 at a thickness of 10 mils DFT ( 8/1000 " ) This reduction is written for steel, concrete or any other substrate material.
    The combination of reflectivity, emissivity and thermal conductivity equals R19 ( ASTM C236 )
</p>
  <p>
"R" Value improvement ratio: The ASTM C236 test verified that using SUPERTHERM ® over an existing "R" value material will enhance the total of the "R" value performance of the system. The control fiber glass board tested to K=0.52. When SUPERTHERM ® was applied at the standard 10 mils dry, the certified improvement to the "R" value was 68% . One coat each at 10 mils of SUPERTHERM ® applied to opposite sides of the same "R" rated material improved the "R" performance by 148%. Therefore, based upon the 68% improvement ratio, a minimum of R13 material or system can be improved to R21.8 by applying one coat of SUPERTHERM ®.</p>

 <p> FEATURE
   • Spreads at 95 sf/gallon which gives a thickness of 17 mils Wet (WFT) = 10 mils Dry (DFT)
 • Elongation 125% \ Flexibility 180 degree bend test ( ASTM 1737 - 1/8 " mandrel )
 • Weathering 10 years \ UV resistance - 2000 hours \ Hail resistant to cracking
 • Can withstand acid rain, chemical vapours and direct mild acid splash
 • Salt Spray 2000 + hours \ ASTM B117 Corrosion Test 450 hours ASTM D1654 over black steel Rating procedure B:9
 • Contains anti-flash rusting components
</p>
  <p>• Sound deadening of 68% is accomplished by blocking sound waves in the same manner as blocking heat waves. Separate testing was performed in association with UNC and Stoughton Trailers. Both recorded the same 68% reduction.
</p>
</div>
<section class="separator">
  <h3>(604) 577 - 2212</h3>
</section>
