<%= render 'home/nav' %>
<%= render 'products/documents' %>

<img src="/assets/supertherm-12.jpg" alt="" class="supertherm-12" />
<br>
<img src="/assets/supertherm1.jpg" alt="" class="supertherm-1" />
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<img src="/assets/supertherm-11.jpg" alt="" class="supertherm-11" />
<br><br><br>
<img src="/assets/supertherm-2.jpg" alt="" class="supertherm-2" />
<br>
<!-- <img src="/assets/Supertherm-10.jpg" alt="" class="supertherm-10" />
<br> -->
<img src="/assets/supertherm-19.jpg" alt="" class="supertherm-19" />
<br>
<img src="/assets/Supertherm-7.png" alt="" class="supertherm-7" />
<br>
<img src="/assets/Supertherm-9.jpg" alt="" class="supertherm-9" />
<br>
<img src="/assets/supertherm-16.jpg" alt="" class="supertherm-16" />
<br>
<img src="/assets/supertherm-18.jpg" alt="" class="supertherm-18" />
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br>
<img src="/assets/Supertherm-8.jpg" alt="" class="supertherm-8" />
<br>
<img src="/assets/supertherm-13.jpeg" alt="" class="supertherm-13" />
<br>
<img src="/assets/supertherm-15.jpeg" alt="" class="supertherm-15" />


<div class="supertherm-band">
</div>
<div class="supertherm-band2">
</div>
<div class="supertherm-band3">
</div>
<div class="supertherm-band4">
</div>
