<%= render 'home/nav2' %>


<div class="thermal-products">
<img src="/assets/inventory.png" alt="" height="550px" width="450px" />

</div>

<div class="database-container">
  Product Database
</div>
  <div class="thermal-database">
<a href="" >SuperTHERM<sup>®</sup></a>
<br>
    <a href="" >SunSHIELD<sup>®</sup></a>
<br>
    <a href="" >EpoxoTHERM<sup>®</sup></a>
<br>
    <a href="" >Hot-Surface COATING<sup>®</sup></a>
<br>
    <a href="" >Hot-Pipe COATING<sup>®</sup></a>
  </div>
  <div class="corrosion-database">
<a href="" >RustGRIP<sup>®</sup></a>
<br>
    <a href="" >RustGRIP 1000<sup>®</sup></a>
<br>
    <a href="" >RustGRIP-E</a><sup>®</sup></a>
<br>
    <a href="" >Moist Metal GRIP<sup>®</sup></a>
<br>
    <a href="" >Lining-Kote UHS<sup>®</sup></a>
  </div>
  <div class="fire-database">
    <a href="" >Omega FIRE<sup>®</sup></a>
<br>
    <a href="" >Penetrating Chemical</a>
<br>
    <a href="" >Interior Latex</a>
<br>
    <a href="" >Polyurethane</a>
<br>
    <a href="" >SafeCOAT PVC</a>
  </div>
  <div class="concrete-database">
    <a href="" >SP InterLOCK / InnerSEAL<sup>®</sup></a>
    <br>
    <a href="" >RustGRIP(NS)<sup>®</sup></a>
    <br>
    <a href="" >AquaPOX<sup>®</sup></a>
    <br>
    <a href="" >Non-SKID<sup>®</sup></a>
    <br>
    <a href="" >Non-SKID II (Road & Bridge)<sup>®</sup></a>
  </div>
  <div class="water-database">
<a href="" >SuperBASE(HS)<sup>®</sup></a>
<br>
    <a href="" >TotalSEAL</a><sup>®</sup></a>
<br>
    <a href="" >TotalSEAL(HS)<sup>®</sup></a>
<br>
    <a href="" >Liquid Membrane<sup>®</sup></a>
  </div>
  <div class="architectural-database">
<a href="" >EnamoGRIP(Coloured)<sup>®</sup></a>
<br>
    <a href="" >EnamoGRIP(Clear)<sup>®</sup></a>
  </div>
  <div class="graffiti-database">
<a href="" >Superior GRAFFITI<sup>®</sup></a>
<br>
    <a href="" >Aqua-GRAFF 1000<sup>®</sup></a>
</div>
<div class="graffiti2-database">
    <a href="" >Aqua-GRAFF PLUS<sup>®</sup></a>
<br>
    <a href="" >Aqua-GRAFF 3000<sup>®</sup></a>
<br>
    <a href="" >Aqua-GRAFF 5000<sup>®</sup></a>
<br>
    <a href="" >Aqua-GRAFF BRICK-GEL<sup>®</sup></a>
  </div>


<div class="phone">
  <%= link_to image_tag "phonenew.png", height: "90px", width: "90px" %>
</div>


  <div class="phone-number"><img src="/assets/phonenumber.png" class="phone-full" height="45px" /></div>


<a href="http://www.spicoatings.com/" class="auth">


<%= render 'home/footer' %>
