<%= render 'home/nav2' %>


<div class="database-background">
<img src="/assets/product_database_grey.png" alt="" height="550px" width="450px" />

</div>

  <div class="database-container">
    Product Database
  </div>
    <div class="thermal-database">
      <div class="supertherm-db" >
        <a href="/products/supertherm" >SuperTHERM<sup>®</sup><span class="description">Multi Layer Ceramic Insulation Coating
      </span>
<br>
      <i>Engineered to Repel Radiated Heat.</i>
    </a>
  </div>
<br><br><br>
      <a href="/products/sunshield" >SunSHIELD<sup>®</sup><span class="description">Multi Layer Ceramic Insulation Coating</span>
<br>
      <i>Engineered to Repel Radiated Heat.</i>
      </a>
<br><br><br>
      <a href="" >EpoxoTHERM<sup>®</sup><span class="description">
        Multi-Layer Ceramic Insulation Coating
      </span>
<br>
        <i>Engineered to Repel Radiated Heat.</i>
      </a>
<br><br><br>
      <a href="" >Hot-Surface COATING<sup>®</sup><span class="description">
       Multi-Layer Ceramic Insulation Coating
     </span>
<br>
        <i>Engineered to Block Conducted Heat.</i><span class="mid-temp">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspMid Temp (200°F \ 93.33°C to 350°F \ 177°C) </span>
      </a>
<br><br><br>
    <a href="" >Hot-Pipe COATING<sup>®</sup></a>
  </div>
  <div class="corrosion-database">
<a href="" >RustGRIP<sup>®</sup></a>
<br>
    <a href="" >RustGRIP 1000<sup>®</sup></a>
<br>
    <a href="" >RustGRIP-E</a><sup>®</sup></a>
<br>
    <a href="" >Moist Metal GRIP<sup>®</sup></a>
<br>
    <a href="" >Lining-Kote UHS<sup>®</sup></a>
  </div>
  <div class="fire-database">
      <a href="" >Omega FIRE<sup>®</sup></a>
  <br>
      <a href="" >Penetrating Chemical</a>
  <br>
      <a href="" >Interior Latex</a>
  <br>
      <a href="" >Polyurethane</a>
  <br>
      <a href="" >SafeCOAT PVC</a>
    </div>
    <div class="concrete-database">
      <a href="" >SP InterLOCK / InnerSEAL<sup>®</sup></a>
      <br>
      <a href="" >SuperBASE(HS)<sup>®</sup></a>
      <br>
      <a href="" >TotalSEAL</a><sup>®</sup> <i>(U.S. only)</i></a>
      <br>
      <a href="" >TotalSEAL(HS)<sup>®</sup></a>
      <br>
      <a href="" >Liquid Membrane<sup>®</sup></a>
    </div>
    <div class="graffiti2-database">
      <a href="" >EnamoGRIP(Coloured)<sup>®</sup></a>
      <br>
      <a href="" >EnamoGRIP(Clear) <sup>®</sup><i>(U.S. only)</i></a>
      <br>
      <a href="" >EnamoGRIP(Clear) 1000<sup>®</sup></a>
      <br>
      <a href="" >EnamoGRIP(Clear) 3700 <sup>®</sup><i>(U.S. only)</i></a>
      <br>
      <a href="" >EnamoGRIP(Clear) 5000<sup>®</sup></a>
      <br>
      <a href="" >AquaPOX<sup>®</sup></a>
      <br>
      <a href="" >Graffiti CLEANER<sup>®</sup></a>
    </div>


  <!-- <div class="phone">
    <%= link_to image_tag "phonenew.png", height: "90px", width: "90px" %>
  </div>


    <div class="phone-number"><img src="/assets/phonenumber.png" class="phone-full" height="45px" /></div>


  <a href="http://www.spicoatings.com/" class="auth"> -->


  <%= render 'home/footer' %>
